@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

::-webkit-scrollbar{
    width: 5px;
}

::-webkit-scrollbar-thumb{
    background-color: #000;
    border-radius: 5px;
}

body{
    font-family: 'Montserrat', sans-serif;
    -webkit-font-smoothing:antialiased;
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1;
    border-bottom: 0.1rem solid var(--light-gray-color);
    font-weight: bold;
    color: #fff;
    background-color: #000;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.menu-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
}


.menu img{
    width: 120px;
    height: 120px;
}

.menu h1 {
    font-size: 2.3rem;
    color: var(--primary-color);
}

.menu h1 a {
    color: inherit;
}

.menu ul {
    list-style: none;
    display: flex;
}

.menu ul li{
    margin-left: 30px;
    margin-right: 30px;
}

.menu ul li a {
    text-decoration: none;
    color: #fff;
    padding: 10px;
    transition: 600ms;
    display: block;
    padding: 1rem;
    font-size: 1rem;
    position: relative;
}

.menu ul li a::after {
    content: '';
    position: absolute;
    bottom: 1rem;
    left: 50%;
    width: 0;
    height: 0.2rem;
    transition: all 300ms ease-in-out;
}

.menu ul li a:hover{
    color: rgb(255, 217, 0);
}

.menu ul li a:hover::after {
    width: 50%;
    left: 25%;
}

.menu_colab{
    border: rgb(255, 217, 0) 1px solid;
    border-radius: 20px;
    color: #000 !important;
    margin-left: 90px;
    background-color: rgb(255, 217, 0);
}

.menu_colab:hover{
    background-color: #fff;
    color: #000 !important;
    border: #000 1px solid !important;
}

.close-menu {
    display: none;
}

.intro{
    padding: 60px;
    display: flex;
    flex-direction: row;
    background-color: #000;
    color: #fff;
}

.intro div{
    width: 50%;
    justify-content: center;
    align-items: flex-end;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.intro div h1{
    margin-bottom: 40px;
    font-size: 50px;
    margin-right: 50px;
}

.intro div p{
    font-size: 20px;
    line-height: 30px !important;
}

.intro div a{
    color: #000;
    background-color: rgb(255, 217, 0);
    padding: 20px;
    border-radius: 10px;
    text-decoration: none;
    margin-top: 30px;
    font-weight: bold;
    font-size: 20px;
    margin-left: 10px;
}

.intro div img{
    width: 550px;
    height: 550px;
}

.divimage{
    text-align: center !important;
    justify-content: center !important;
    align-items: center !important;
}

.sobre{
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: rgb(255, 217, 0);
}

.sobre div{
    display: flex;
    flex-direction: column;
    padding: 50px;
}

.sobre div h1{
    color: #fff;
    font-weight: bold;
    font-size: 50px;
    margin-bottom: 20px;
}

.sobre div p{
    font-size: 25px;
    margin-bottom: 20px;
    font-weight: 500;
}

.empresas {
    background-color: #000;
    color: #fff;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 50px;
}

.empresas div{
    margin-bottom: 40px;
    font-size: 25px;
}

.alinhamento{
    display: flex;
    flex-direction: row !important;
}

.alinhamento div{
    display: flex;
    flex-direction: column !important;
}

.empresas div div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0;
}


.empresas div div h2{
    margin-right: 10px;
}

.empresas div img {
    width: 150px;
    height: 140px;
    margin: 20px;
}

.wid{
    width: 240px !important;
}

.aplicativo{
    display: flex;
    flex-direction: column;
}

.aplicativo div{
    display: flex;
    flex-direction: row;
}

.secao4 {
    background-color: rgb(255, 217, 0);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.secao4 div{
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 50%;
}

.secao4 div h1{
    color: #fff;
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 10px;
}

.secao4 div h2{
    font-size: 20px;
    font-weight: 500;
}

.secao4 div form{
    display: flex;
    flex-direction: column;
    width: 450px;
    height: 600px;
    border-radius: 50px;
    margin: 50px;
    padding: 40px;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    background-color: #000;
}

.secao4 div form p{
    font-size: 40px;
    font-weight: bold;
    margin-top: 30px;
}

.secao4 div form label{
    font-size: 20px;
}

.secao4 div form input{
    font-size: 17px;
    margin-bottom: 10px !important;
    margin: 10px;
    padding: 15px;
    border-radius: 20px;
    width: 300px;
    border: 0;
}

.secao4 div form div{
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    width: 100%;
}

.secao4 div form div label{
    font-size: 10px;
    text-align: left;
}

.secao4 div form div label input{
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    margin: 0 !important;
    padding: 0;
    width: 10px !important;
}

.call{
    background-color: rgb(255, 217, 0);
    color: #000;
    font-weight: bold;
    cursor: pointer;
    width: 250px !important; 
    margin-top: 10px;
}

footer{
    background-color: #000;
    text-align: left ;
    justify-content: center !important;
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: 12px;
    font-weight: bold;
}

footer div{
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    width: 658px;
}

footer div div{
    display: flex;
    flex-direction: row;
}

footer div div a{
    padding: 3px;
    border-radius: 5px;
    color: #000;
    background-color: rgb(255, 217, 0);
    margin-right: 5px;
    margin-left: 5px;
}

footer div a{
    font-size: 15px;
    text-decoration: none;
    color: #fff;
    margin: 20px;
}

footer div p{
    color: rgba(255, 255, 255, 0.342);
    margin: 20px;
}

footer div .gp{
    width: 130px;
    height: 40px;
}

footer div .as{
    width: 130px;
    height: 40px;
}


hr {
    margin-left:0px !important; width: 100% ;height:1px; border:0; background:radial-gradient(circle, rgb(255, 217, 0), black, black);
}

.cor{
    color: rgb(255, 217, 0);
}

.btnwpp{
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    color: #fff;
    background-color: #39c645;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 40px;
    border-radius: 40px;
    text-decoration: none;
    box-shadow: #8d8d8d 1px 1px 7px;
}

@media (max-width: 1250px){

    .intro div p{
        font-size: 11px;
    }

    .empresas div{
        font-size: 20px;
    }
    .sobre div h1{
        font-size: 35px;
    }
    .sobre div p{
        font-size: 100% !important;
    }
    .menu {
        bottom: 0;
    }

    .menu-content, .menu-content ul{
        flex-direction:column;
        justify-content: center;
    }

    .menu-content {
        height: 100vh;
    }

    .menu {
        display: none;
    }

    .close-menu {
        position: fixed;
        z-index: 2;
        top: 0;
        left: 0;
    }

    .close-menu-label::after {
        content: '☰' ;
        position: fixed;
        z-index: 2;
        top: 2rem;
        right: 2rem;
        background: #000;
        color: rgb(255, 217, 0);
        font-size: 2rem;
        line-height: 2rem;
        width: 2rem;
        height: 2rem;
        text-align: center;
        padding: 0.5rem;
        cursor:pointer;
        border-radius: 12px;
    }

    .close-menu:checked~.menu {
        display: block;
    }

    .close-menu:checked~.close-menu-label::after {
        content: "x";
    }

    .menu-spacing {
        display: none;
    }

    .menu_colab{
        margin-top: 10px;
        margin-left: 0 !important
    }

    .intro {
        display: flex !important;
        flex-direction: column !important;
    }

    .intro div{
        text-align: center;
        width: 100%;
        align-items: center;
    }

    .intro div a{
        margin-left: 0;
    }

    .intro div h1{
        font-size:33px !important ;
        margin-right: 0;
    }

    .intro div img{
        width: 100%;
        height: 100%;
    }

    .alinhamento, .empresas div div{
        flex-direction: column !important;
    }

    .secao4 {
        flex-direction: column;
    }

    .secao4 div{
        width: 100%;
        justify-items: center;
        justify-content: center;
        align-items: center;
        text-align: center;
        display: flex;
        flex-direction: column;
    }

    .secao4 div h1{
        margin-top: 20px;
    }

    .secao4 div form{
        flex-direction: column;
        display: flex;
        margin: 0;
        margin-bottom: 20px;
        margin-top: 40px;
        width: 270px;
        height: 570px;
    }

    .secao4 div form p{
        font-size: 25px;
        margin-top: 0px;
        margin-bottom: 10px;
    }

    .secao4 div form input{
        width: 200px;
        padding: 10px;
        margin-bottom: 0px !important;
        font-size: 14px;
    }

    footer{
        flex-direction: column;
        text-align: center;
    }

    footer div{
        flex-direction: column;
        width: 100%;
    }

    footer div div{
        flex-direction: row;
        margin: 0;
        background-color: #000 !important;
    }

    footer div div a{
        color: #fff;
        background-color: #000;
        margin-right: 0;
        margin-left: 0;
        width: 100%;
    }
}
